/*
Colors :



*/

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  box-sizing: border-box;
}

img {
  display:block;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 1.7rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.btn:active {
  transform: translateY(-0.1rem);
}

.btn--orange {
  background-color: #fd8d5c;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
}
