/*
Colors :



*/

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  box-sizing: border-box;
}

img {
  display:block;
}

/* Header */

.header, .banner {
  width: 144rem;
}

.header {
  height: 15rem;
  padding: 4rem 4% 0 4%;
}

.header__logo {
  display: inline-block;
  padding-right: 1rem;
}

.header__logo img {
  height: 8.2rem;
}

.header__nav {
  /*float: right;*/
  display: inline-block;
  list-style: none;
}

.header__nav li {
  display: inline-block;
  margin-left: 4rem;
}

.header__nav li a:link,
.header__nav li a:visited {
  color: #1c75bb;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.2s;
  padding-bottom: 0.3rem;
}

.header__nav li a:hover,
.header__nav li a:active {
  border-bottom: 0.2rem solid #a0cd3a;
  padding-bottom: 0.3rem;
}

.header__btn--container {
  display: inline-block;
  margin-left: 8rem;
  position: relative;
}

.header__btn--container a {
  z-index: 200;
  position: relative;
}

.header__btn--container img {
  position: absolute;
  top: -105px;
  left: 64px;
  z-index: 100;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 20rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.btn:active {
  transform: translateY(-0.1rem);
}

.btn--orange {
  background-color: #fd8d5c;
  color: #fff;
  font-weight: 700;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner > div {
  position: absolute;
  top: 40%;
  left: 5rem;
  line-height: 1;
  width: 45rem;
}

.banner img {
  filter: brightness(75%);
}

.banner h1 {
  font-size: 5rem;
  color: #fff;
}

.banner hr {
  background-color: #fff;
  color: #fff;
  margin: 1rem 0;
  width: 5rem;
  height: 0.3rem;
  border: 0;
}

.banner p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.3;
}