@import '../../assets/stylesheets/style.scss';

.banner {
  position: relative;
  height: 60rem;

  .scroller-tiles, .scroller-tiles div, .scroller-tiles img {
    width: 100%;
    height: 100%;
  }

  .scroller-arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #000;
    width: 4rem;
    height: 4rem;
    text-align: center;

    &-left {
      left: 2rem;
    }

    &-right {
      right: 2rem;
    }

    button {
      font-size: 3.5rem;
      // font-weight: bolder;
      color: #fff;
    }
  }
}
