@import '../../assets/stylesheets/style.scss';

.hero {
  position: relative;
  width: 100%;

  .alt-color {
    color: $color-secondary;
  }

  img {
    width: 100%;
    filter: brightness(75%);
  }

  div.text {
    position: absolute;
    top: 44%;
    left: 8rem;
    line-height: 1;
    width: 45rem;
  }

	h1 {
		font-size: 5rem;
		color: #fff;
	}

	hr {
		margin-top: 1rem;
	}

  p {
    margin-bottom: 2.8rem;
  }
}
