@import '../../assets/stylesheets/style.scss';

.banner {
  position: relative;

  .alt-color {
    color: $color-secondary;
  }

  img {
    width: 100%;
    filter: brightness(75%);
  }

  > div {
    position: absolute;
    top: 40%;
    left: 5rem;
    line-height: 1;
    width: 45rem;
  }

	h1 {
		font-size: 5rem;
		color: #fff;
	}

	hr {
		margin-top: 1rem;
	}

  .btn {
    margin-top: 2.8rem;
  }
}
