.home {
	font-family: 'Raleway', sans-serif;
	
  h1 {
    font-size: 3.5rem;
	}
	
	hr {
		margin: .5rem 0 2rem;
		width: 4rem;
		height: 0.3rem;
		border: 0;
	}

	p {
		color: #fff;
		font-size: 1.8rem;
		font-weight: bold;
		line-height: 1.3;
	}
}
