.home .home-links {
	background-image: url('../../assets/images/about_bg.png');
	display: flex;
  justify-content: center;
  
  h1 {
    font-size: 3.5rem;
  }

  > div {
    padding: 8rem;
  }

  .btn-container {
    margin-top: 3.5rem;
  }
}
