@import '../../assets/stylesheets/style.scss';

.home-news-events {
	background-image: url('../../assets/images/largeBlueCat.png');
  padding: 5rem 6rem 2.6rem;
  
  h1, hr {
    margin-left: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    color: #fff;
  }

  hr {
    background-color: $color-accent;
  }

  > div {
    display: flex;
    justify-content: center;

    .btn2 {
      margin-top: 5.3rem;
    }

    &.panels {
      justify-content: space-between;

      .btn2 {
        margin-top: 3.3rem;
      }
    
      .panel {
        margin: 0 2rem;
        background-color: #fff;
        border-radius: 1.5rem;
        padding: 2rem 0 1.6rem 4rem;

        .date {
          background-image: url('../../assets/images/news_header.png');
          float: right;
          height: 10.3rem;
          width: 12.7rem;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-family: 'Arimo', 'Roboto', 'CartoGothic Std', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            font-size: 5rem;
            font-weight: bolder;
            color: #fff;
            margin-left: 2.5rem;
          }
        }

        h1 {
          font-size: 3rem;
          color: $color-secondary;
          margin-top: 3rem;
          margin-bottom: 2rem;
        }

        h2 {
          font-family: 'Arimo', 'Roboto', 'CartoGothic Std', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
          font-size: 1.8rem;
          font-weight: normal;
          color: #aaa;
          margin-bottom: 3rem;
        }

        > p {
          color: #444;
          margin-right: 2rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}
