@import '../assets/stylesheets/style.scss';

.adoptable-list {
	h2 {
		font-size: 3.5rem;
		color: $color-primary;
		margin-bottom: 1rem;
	}

	> div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
	}
}