@import '../assets/stylesheets/style.scss';

button.popup {
  border: none;
}

.gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .scroller-tiles > div, .scroller-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  button {
    cursor: pointer;
  }

  &--popup {
    height: 80rem;
    width: $content-width;
  }

	&--big {
		position: relative;
		height: 40rem;
		width: 42rem;

		.scroller-tiles, .scroller-tiles > div {
			width: 100%;
			height: 100%;
		}

		.scroller-arrow {
			position: absolute;
			z-index: 100;
			top: 50%;
			transform: translateY(-50%);
			background-color: #fff;
			opacity: 0.4;
			width: 2rem;
			height: 6rem;
			text-align: center;
	
			&-right {
				right: 0;
			}
	
			button {
				font-size: 2rem;
			}
		}
	}

	&--thumbnail {
		height: 23rem;
	
		.scroller-arrow button {
			font-size: 2rem;
			color: $color-primary;
		}
		
		.scroller-tiles {
			padding: 0;
			width: 38rem;
			height: 100%;
			margin: 0 1rem 0;
	
			> div {
				width: 8rem;
				height: 100%;
				font-size: 1rem;
			}
		}
	}
}
