div#dogs {
	h3 {
		font-family: "Kristen","Kalam","Comic Sans MS",fantasy,"Lucida Grande",Geneva,Verdana,Arial,sans-serif;
		font-size: 2em;
		font-weight: bold;
		text-align: left;
		clear: both;
		color: white;
		background-color: #1d75bc;
		padding-left: 1rem;
	}
}
