@import '../assets/stylesheets/style.scss';

.donate {
	width: $content-width;
	font-family: 'Raleway', sans-serif;
	display: flex;
	margin-top: 5rem;

	.side {
		// flex: 1 0;

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 0 5rem 5rem 0;

		.money {
			color: $color-secondary;
			font-size: 6rem;
			font-weight: 900;
			text-align: right;
			margin: 2rem 0 1rem;
		}

		.caption {
			color: #7d7d7d;
			font-size: 2.5rem;
			font-weight: 900;
			margin-bottom: 4rem;
			text-align: right;
			line-height: 2.5rem;
		}

		hr {
			background-color: #f0f0f0;
			margin-bottom: 1rem;
			margin-left: auto;
			width: 12rem;
		}

		.btn-container {
			text-align: right;
		}
	}

	.main {
		flex: 1 0;
	}

	.top {
		position: relative;

		img {
			width: 100%;
		}
		
		h1 {
			position: absolute;
			top: 1.5rem;
			left: 1.5rem;
			color: greenyellow;
			font-size: 3.5rem;
		}

		p {
			position: absolute;
			top: 56.3rem;
			right: 0.5rem;
			color: #fff;
			width: 31rem;
			font-weight: 700;
			font-size: 1.5rem;
		}
	}

	.make-donation {
		display: flex;
		justify-content: space-evenly;
		margin-top: 4rem;

		> div {
			border: 1px solid $color-primary;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			padding: 5rem 2rem;
			color: $color-secondary;
			font-size: 3.5rem;
			font-weight: 700;

			p {
				// margin: 2rem;
				text-align: center;
			}
		}

		.btn-container {
			text-align: center;
		}
	}
}
