@import '../assets/stylesheets/style.scss';

.donate {
	font-family: 'Raleway', sans-serif;
	padding: 5rem 14rem 0 10rem;

	.first {
		display: flex;
	}

	.side {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 0 5rem 5rem 0;
		margin-right: 4rem;

		.money {
			color: $color-secondary;
			font-size: 6rem;
			font-weight: 900;
			text-align: right;
			margin: 2rem 0 1rem;
		}

		.caption {
			color: #7d7d7d;
			font-size: 2.5rem;
			font-weight: 900;
			margin-bottom: 4rem;
			text-align: right;
			line-height: 2.5rem;
		}

		hr {
			background-color: #f0f0f0;
			margin-bottom: 1rem;
			margin-left: auto;
			width: 12rem;
		}

		.btn-container {
			text-align: right;
		}
	}

	.main {
		flex: 1 0;
	}

	.top {
		position: relative;
		margin: 0 1rem 0 1rem;

		img {
			width: 100%;
		}
		
		h1 {
			position: absolute;
			top: 1.5rem;
			left: 1.5rem;
			color: greenyellow;
			font-size: 3.5rem;
		}

		p {
			position: absolute;
			bottom: 0.6rem;
			right: 0.6rem;
			color: #fff;
			width: 29rem;
			font-weight: 700;
			font-size: 1.4rem;
		}
	}

	.make-donation {
		display: flex;
		justify-content: space-evenly;
		margin-top: 4rem;

		> div {
			position: relative;
			z-index: 100;

			img {
				position: absolute;
				left: 50%;
				top: -1.5rem;
				transform: translateX(-50%);
				height: 11rem;
			}

			> div {
				margin-top: 4rem;
				border: 0.3rem solid $color-primary;
				border-radius: 1.5rem;
				display: flex;
				flex-direction: column;
				padding: 7rem 2rem 3rem;
				color: $color-secondary;
				z-index: 50;
			}

			p {
				font-size: 3.5rem;
				font-weight: 700;
				line-height: 3.5rem;
				text-align: center;
			}
		}

		.btn-container {
			text-align: center;
			margin-top: 4rem;
		}
	}

	.one-time {
		margin-right: 2rem;
	}

	.mail-check {
		background-color: $color-secondary;
		padding: 2rem;

		p {
			color: #fff;
			font-size: 1.8rem;
			font-weight: 700;
			text-align: center;
		}
	}

	.other {
		background-image: url('../assets/images/largeBlueCat.png');
		padding: 2rem 6rem 3rem;
		
		h1 {
			font-size: 3.5rem;
			color: $color-accent;
		}

		hr {
			background-color: #fff;
		}

		.panels {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.panel {
			background-color: white;
			border-radius: 1.5rem;
			margin-bottom: 5rem;
			padding: 2rem;
			width: 30%;
			min-height: 17rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			> p {
				color: $color-primary;
				margin-bottom: 2rem;
				font-size: 2.9rem;
				font-weight: 700;
				text-align: center;
			}
		}
	}
}
