
div#header {
	padding				: 0 0 .5rem 0;
	font-size			: 1.25rem;
	line-height         : 1.4rem;
	letter-spacing		: .4px;
	background-color    : #1d75bc;
	border-color		: #E3E3E3;
	color               : white;
	width				: 100%;
	height				: auto;
	display			: flex;
	flex-direction  : row; 


	div#logo {
		margin-left: 1rem;
		background-image: url('/logo_white.png');
	    width: 230px;
		height: 82px;
		background-repeat: no-repeat;
		background-position: 0 18px;
	}		

	span#menu-icon {
		i {
			cursor : pointer;
			font-size: 34px;
			vertical-align: top;
		}
	}
}

.MuiListItemText-root { 
	a {
		text-decoration : none;
		color    : #1d75bc;
	}
}

svg.MuiSvgIcon-root {
	fill:  #1d75bc;
}
