.home {
	h1 {
		font-size: 5rem;
		color: #fff;
	}

	hr {
		background-color: #fff;
		color: #fff;
		margin: 1rem 0 2rem;
		width: 4rem;
		height: 0.3rem;
		border: 0;
	}

	p {
		color: #fff;
		font-size: 1.8rem;
		font-weight: bold;
		line-height: 1.3;
		letter-spacing: .15rem;
	}
}

.banner .alt-color, .home-links h1 {
	color: #b2e63b;
}
