@import '../assets/stylesheets/style.scss';

.mission-row {
	width: $content-width;
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: flex-start;
	padding: 0 5rem;

	.side {
		flex: 1 0;
	}

	.main {
		flex: 4 0;
		padding-left: 5rem;
	}

	&.top {
		padding-top: 9rem;

		> div {
			padding-top: 2rem;
		}

		.side {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.money {
				color: $color-secondary;
				font-size: 6rem;
				font-weight: 900;
				text-align: right;
				margin: 2rem 0 1rem;
			}

			.caption {
				color: #7d7d7d;
				font-size: 2.5rem;
				font-weight: 900;
				margin-bottom: 4rem;
				text-align: right;
				line-height: 2.5rem;
			}

			hr {
				background-color: #f0f0f0;
				margin-bottom: 1rem;
				margin-left: auto;
				width: 12rem;
			}
		}

		.main {
			background: url('../assets/images/news_bg.png') no-repeat;
			
			p {
				color: #fff;
			}

			h2 {
				color: #fff;
			}
		}
	}

	h1 {
		color: $color-accent;
		font-size: 4.5rem;
	}

	h2 {
		font-size: 3.5rem;
		color: $color-primary;
		margin-bottom: 2rem;
	}

	h3 {
		font-size: 3.5rem;
		color: $color-accent;
	}

	h4 {
		font-size: 2rem;
	}

	p {
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 6rem;
	}

	> div {
		padding: 0 2rem;
	}

	&.board-member {
		padding-top: 0;

		.side img {
			width: 22rem;
			margin-top: 1rem;
		}
	}
}
