@import '../assets/stylesheets/style.scss';

.standard {
	font-family: 'Raleway', sans-serif;
	margin-top: 6rem;
	padding: 0 5rem;

	h1 {
		color: $color-accent;
		font-size: 4.5rem;
	}

	hr {
		background-color: $color-accent;
	}

	p {
		font-size: 1.8rem;
		font-weight: 500;
		margin-bottom: 3rem;
	}
}
