@import '../assets/stylesheets/style.scss';

.form {
	background: $color-primary;
	padding: 1rem 1rem 2.2rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	ul {
		list-style: none;
		width: 100%;
		margin-bottom: 1.8rem;
	}

	li {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		> label {
			flex: 1;
			text-align: right;
			margin: 0.5rem;
		}

		> input, .input, .input-select, textarea {
			flex: 2;
			margin: 0.5rem;
			padding: 0.5rem;
		}

		> input, .input-select {
			background-color: #fff;
		}
	}

	label {
		font-size: 2rem;
	}

	.input {
		label {
			margin-right: 2.5rem;
		}

		input[type='radio'] {
			margin-right: 0.5rem;
		}

		input[type='checkbox'] {
			margin-right: 0.7rem;
		}
	}
			
	textarea {
		height: 10rem;
  }
  
  h2, label, p {
    color: #fff;
  }

  h2 {
		font-size: 3.5rem;
  }

  h2, p {
    align-self: flex-start;
  }
}
