@import './_variables.scss';
@import './_mixins.scss';
@import './_grid.scss';

/*
Colors :



*/

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display:block;
}

a {
  color: $color-accent;
  font-weight: 700;
}

.btn {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  background-color: $color-accent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 1.7rem;
  line-height: normal;
  text-align: center;

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--secondary {
    background-color: $color-secondary;
    color: #fff;
  }
}

button.btn {
  border: none;
}

hr {
  background-color: #fff;
  margin: .5rem 0 2rem;
  width: 4rem;
  height: 0.3rem;
  border: 0;
}
